* {
    color: #ffffffe3 !important;
}

body {
    display: flex;
    user-select: none;
    background: linear-gradient(180deg, #c473f5 0%, #b257ec 14%, #c45fd5 28%, #cf5ec7 42%, #dd5ec0 56%, #ec71ba 70%, #fe90a6 84%, #f689a9 100%) !important;
}

.blur {
    background: rgba(24, 24, 24, 0.42) !important;
    backdrop-filter: blur(16px);
    height: fit-content;
    margin: 0 !important;
}

.menu {
    height: 100%;
}

.menu .title {
    margin: 1rem !important;
    font-size: 1.6rem;
    line-height: 0 !important;
    justify-content: center;
    display: flex !important;
}

.menu .title h2 {
    cursor: pointer !important;
}

.menu .active {
    background-color: #00000014 !important;
    border-color: #dadada !important;
}

.menu .active:hover {
    background-color: #ffffff12 !important;
}

.ui.list .item .content .header {
    color: #45a3ff !important;
}

.main {
    margin: auto;
    display: flex;
    align-items: center;
}

.main.blog {
    max-height: 80%;
    align-items: unset;
    overflow-y: auto;
}

.main.blog div.ui.segment {
    display: flex;
    flex-direction: column;
}

.main.blog .header {
    margin: 0;
}

.main div.ui.segments {
    box-shadow: none !important;
    border: none !important;
    width: 80vw;
    min-height: 10vh;
}

.main div.ui.segment h3 {
    text-align: center;
}

@media screen and (width < 500px) {
    .menu {
        height: 10vh;
        width: 100%;
        position: absolute;
    }

    .menu .title {
        margin: auto !important;
        bottom: 2vh;
        top: 0;
    }

    .main {
        margin-top: 10vh;
    }

    .main div.ui.segments {
        flex-direction: column;
    }

}

